
.swiper {
    width: 100%;


}

.swiper-slide {
text-align: center;
font-size: 18px;

border-radius: 10px;
/* Center slide text vertically */
display: flex;
justify-content: center;
align-items: center;
}

.swiper-wrapper {
  

}
  .card_carousel > img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

.card_carousel {
    height: auto;
    border-radius: 10px;
    /* box-shadow: 0px 0px 39px 9px rgba(0,0,0,0.1); */
    background: #fff;
}
.sub__services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 10px; 
}


.sub__services > .items {
    display: flex;
    padding: 10px;
}

.sub__services > div > .items > img {
    margin-right: 10px;
}