.gallery-image {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
}

.swiper-pagination-progressbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-progressbar-fill {
  background-color: #007aff;
}
