.layout {
  height: 60vh;
}

.layout__container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 50%);
}

.layout__container .left {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}

.layout__container .left .title > h1 {
  font-size: 2.5rem;
  color: var(--color-text);
}

.layout__container .left .text {
  padding: 10px 0;
}

.btn__main {
  margin-top: 15px;
}

.layout__container .right {
  display: flex;
}

.backgorund__right {
  height: 100%;
  width: 100%;
  background-position: center;
  background-image: url("../../assets/svg/logo__carwash.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .layout__container {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
  }
  .layout__container .right {
    display: none;
  }
}
