.main > .row__two {
  width: 90%;
  margin: 0 auto;
  min-height: 200px;
  display: flex;
  align-items: center;
}

.our__title_container {
  box-shadow: 0px 0px 100px 5px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  border-radius: 10px;
  color: var(--color-text);
}

.main > .row__two > div .about__us_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text);
}

.our__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-right: 10px;
  border-radius: 6px;
}

.main > .row__four .title__container_our_services > .title {
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 6px;
  color: #ffffff;
  text-align: center;
}

.row__four {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.row__four > div {
  width: 90%;
  margin: 0 auto;
}

.item__service_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 50px 0;
}

.item__service {
  display: flex;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 0px 39px 9px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.item__service:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  transition: all 300ms;
}

.item__service svg {
  margin-right: 10px;
}

.main .row__three {
  width: 90%;
  margin: 50px auto;
}

.main .row__three .services__carwash {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.img__services_carwash_one {
  background-image: url("../../assets/main/ZqyIWR5LeNNTxvyq_WhatsAppImage2024-08-02at1.18.10AM.avif");
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.img__services_carwash_two {
  background-image: url("../../assets/main/ZqyIWx5LeNNTxvys_WhatsAppImage2024-08-02at1.18.10AM-1-.avif");
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.img__services_carwash_three {
  background-image: url("../../assets/main/ZqyIXx5LeNNTxvyv_WhatsAppImage2024-08-02at1.18.09AM.avif");
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.main .row__three .services__carwash > .card > .card__content {
  padding: 15px;
}

.type__service {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  width: auto;
}

.type__service > p {
  background-color: var(--primary-color);
}

.type__service > p {
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  color: #ffffff;
}

.main .row__three .services__carwash > .card > .card__content > .sub__services {
}

.main
  .row__three
  .services__carwash
  > .card
  > .card__content
  > .sub__services
  > div {
  display: flex;
  padding: 5px;
}

.main
  .row__three
  .services__carwash
  > .card
  > .card__content
  > .sub__services
  > div
  > svg {
  margin-right: 10px;
}

.main .row__five {
  width: 90%;
  margin: 0 auto;
}

.row__possession {
  margin-bottom: 40px;
}

.title__possession {
  width: 90%;
  margin: 0 auto;
}

.title__possession > p {
  text-align: center;
  padding: 20px;
  background-color: #ff313142;
  color: #d80000;
  font-weight: 500;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .our__title_container {
    text-align: center;
    text-justify: center;
    box-shadow: 0px 0px 100px 5px rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    border-radius: 10px;
    color: var(--color-text);
  }

  .main .row__three .services__carwash {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .item__service_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
