.hero {
    width: 90%;
    margin: 0 auto;
    height: 10vh;
}

.hero__container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav__hero {

}

.items__nav {
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style: none;
}


.item__nav a {
    text-decoration: none
}

.link__nav {
    color: var(--color-text);
}

/*================Nav Modal=====================*/

.toggle {
    display: none;
    justify-content: center;
    align-items: center;      /* centra los elementos */
    width: 40px;
    height: 40px;
}

.toggle__botton {
    width: 40px;
    height: 40px;
    transform: scale(.8);
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;
    
    
}

.span {
    background: var(--primary-color);
    width: 100%;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.4s, width 0.3s ;
}

.l1{
    transform: translate(-50%, -15px);
}

.l3{
    transform: translate(-50%, 10px);
}

/* PARTE DE JAVASCRIPT */
.activo .l1{
    transform: translate(-50%, -50%)rotate(45deg);
}
.activo .l3{
    transform: translate(-50%, -50%)rotate(-45deg);
}

.activo .l2{
    width: 0;
}

.movil {
  display: none;
}

@media screen and (max-width: 768px) {
    .items__nav {
        display: none;
    }

    .toggle {
        display: block;
    }
    

    
}