:root {
  --primary-color: #db2d20;
  
  --border-radius-general: 5px;
}


.btn__general-primary {
  background-color: var(--primary-color);
  padding: 15px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-general);
  transition: all 400ms;
  border-radius: var(--border-radius-general);
  font-size: 1rem;
}