

.btn__general-primary {
  background-color: var(--primary-color);
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-general);
  transition: all 400ms;
  border-radius: var(--border-radius-general);
  font-size: 1rem;
}



.btn__general-main {
  background-color: var(--primary-color);
  padding: 15px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-general);
  transition: all 400ms;
  border-radius: var(--border-radius-general);
  font-size: 1rem;
}


